*{
    padding:0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background: linear-gradient(rgba(128, 128, 128, 0.193), rgba(92, 92, 92, 0.518));
    border-radius: 10px;
    margin-bottom: 20px;
}
h2{
    margin-bottom: 5px;
}
body{
    margin: center;
}
.bodyContainer{
    align-items: center;
    flex-direction: column;
    display: flex;
    background: linear-gradient(1deg, rgb(141, 141, 141), rgb(224, 224, 224));
    width: 95%;
    margin: auto;
    margin-top: 10px;
    border: 1px;
    border-color: red;
    border-radius: 1pc;
    padding:10px;
    padding-bottom: 50px;
}
iframe{
    width: 90%;
    overflow: hidden;
    border: 2px;
}
#map{
    height: 500px;
    width: 100%;
}
.submitContainer{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.question{
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
    flex-direction: column;
    width: 90%;
}
#next{
    border-radius: 10px;
    background: linear-gradient(100deg, red, blue);
    color: aliceblue;
    font-weight: bold;
    font-size: large;
    width: 300px;
    margin: auto;
    transition: 0.05s;
}
#next:hover{
    background: linear-gradient(100deg, rgb(255, 87, 87), rgb(87, 87, 255));
}
#next:active{
    background: rgb(85, 85, 85);

}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    cursor: pointer;
  }
#score {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: 1s;
}
#error{
    color:rgb(122, 1, 1);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#status{
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding:0px;
    padding-top: 5px;
    font-weight: bold;

}